<div class="container-fluid">
  <h4 class="modal-title">Server Connections</h4>
  <hr>
  <div class="row" *ngFor="let u of urls">
    <div class="col-8">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="u.url">
        <div class="input-group-append">
          <div class="input-group-text" *ngIf="u.status === false">
            <i class="material-icons text-danger" >error</i>
          </div>
          <div class="input-group-text" *ngIf="u.status === true">
            <i class="material-icons text-success" >check_circle</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-outline-secondary" type="button" (click)="checkUrl(u)">
        Reconnect
      </button>
    </div>
  </div>
  <div>
    <button class="btn btn-outline-alert" type="button" (click)="SaveUrls()">Submit</button>
  </div>
</div>

